.homeHeroShieldPath {
    width: 400px;
    height: 430px;
  }
.homeHeroImgPath {
    width: 411px;
    height: auto;
}


@media (max-width: 991px) {
    .homeHeroShieldPath {
        width: 100%;
        height: 100%;
    }
    .homeHeroImgPath {
        width: auto;
        max-width: 100%;
        margin: auto;
    }
}