.faqCardCol {
    position: relative;
    background-color: var(--whiteBg);
    padding: 20px;
    border-radius: 6px;
}
.faqCardCol p {
    font-size: 16px;
    color: var(--vt-c-blue);
    font-weight: 600;
    margin: 0;
}
.faqCardBtn {
    margin-top: 1rem;
}

@media (max-width:1699px) {
    .faqCardCol {
        padding: 12px;
    }
    .faqCardCol p {
        font-size: 14px;
    }
}