.noItemDiv {
    background: var(--mute1);
    padding: 32px;
    border: 1px solid var(--vt-c-gray1);
    text-align: center;
    position: relative;
}

.noItemDiv h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
    line-height: 34px;
    margin-bottom: 36px;
}--vt-c-gray

.noItemFtr {
    border: 1px solid var(--vt-c-gray1);   
}

@media (max-width:1699px) {
    .noItemDiv {
        padding: 24px 24px 24px;
    }
    .noItemDiv h3 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 30px;
    }
}

@media (max-width:991px) {
    .noItemDiv {
        padding: 20px;
    }
}

@media (max-width:767px) {
    .noItemDiv {
        padding: 16px;
    }
    .noItemDiv h3 {
        font-size: 18px;
    }
}