.noItemDiv {
    background: var(--whiteBg);
    padding: 32px;
    border: 1px solid var(--vt-c-yellow);
    position: relative;
    box-shadow: 2px 2px 40px 0px #0000000D;
}
.noItemClaimRequestDiv {
    height: 100%;
}

.noItemDiv h3 {
    font-size: 26px;
    font-weight: 700;
    color: var(--vt-c-blue);
    line-height: 34px;
    border-bottom: 1px solid var(--vt-c-gray);
    padding-bottom: 12px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.noItemDiv h3 i {
    margin-top: -5px;
}

.noItemDiv h3 i svg {
    width: 36px;
    height: 36px;
}

.noItemBody {
    text-align: center;
}

.noItemBody > img {
    max-width: 200px;
    height: auto;
}

.noItemBody > p {
    font-size: 15px;
    color: var(--disable);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 0;
}

.noItemFtr {
    border-top: 1px solid var(--vt-c-gray);
    margin-top: 16px;
}

.noItemClaimRequestDiv .noItemFtr {
    border-top: 0;
    margin-top: 32px;
}

.noItemFtr p {
    font-size: 16px;
    color: var(--vt-c-blue);
    font-weight: 500;
    margin: 16px 0;
}

@media (max-width:1699px) {
    .noItemDiv {
        padding: 24px;
    }
    .noItemDiv h3 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
        gap: 0.8rem;
    }
    .noItemDiv h3 i svg {
        width: 32px;
        height: 32px;
    }
    .noItemBody > img {
        max-width: 172px;
    }
    .noItemBody > p {
        font-size: 14px;
        line-height: 22px;
    }
    .noItemFtr {
        margin-top: 12px;
    }
    .noItemClaimRequestDiv .noItemFtr {
        margin-top: 24px;
    }
    .noItemFtr p {
        font-size: 15px;
        margin: 12px 0;
    }
}

@media (max-width:991px) {
    .noItemDiv {
        padding: 20px;
    }
    .noItemDiv h3 {
        font-size: 22px;
        line-height: 30px;
        gap: 0.6rem;
    }
    .noItemDiv h3 i svg {
        width: 24px;
        height: 24px;
    }
}

@media (max-width:767px) {
    .noItemDiv {
        padding: 16px;
    }
    .noItemDiv h3 {
        font-size: 20px;
        line-height: 28px;
        gap: 0.5rem;
    }
    .noItemDiv h3 i svg {
        width: 22px;
        height: 22px;
    }
    .noItemFtr {
        margin-top: 10px;
    }
    .noItemClaimRequestDiv .noItemFtr {
        margin-top: 16px;
    }
    .noItemFtr p {
        font-size: 14px;
        margin: 10px 0;
    }
}