.fileUpldText {
    border-top: 1px solid var(--border-mute);
    padding-top: 20px;
    margin-top: 20px;
}
.fileUpldText p {
    font-size: 16px;
    color: var(--disable);
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}
.fileUpldText p span {
    color: var(--vt-c-blueSky);
}
.fileUpldText h5 {
    font-size: 16px;
    color: var(--gray);
    font-weight: 500;
    line-height: 20px;
    margin: 8px 0;
}
.fileInputBtnDiv {
    display: block;
    border-top: 1px solid var(--border-mute);
    padding-top: 20px;
    margin-top: 20px;
    align-items: center;
    min-width: 100%;
    gap: 1rem;
}
.fileInputField {
    width: auto;
    display: inline-block;
}
.fileInputField label {
    font-size: 15px;
    font-weight: 700;
    color: var(--black);
    line-height: 23px;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-bottom: 5px;
}
.fileInputDiv {
    border: 1px solid var(--gray);
    display: flex;
    padding: 9px 16px;
    align-items: center;
}
.fileInputFillDiv.fileInputDiv {
    border-color: var(--vt-c-blue);
}
.fileInputDiv input {
    background: transparent;
    font-size: 18px;
    color: var(--gray);
    font-weight: 500;
    border: 0;
    padding: 0;
    order: 2;
    width: 100%;
    height: 38px;
    border-left: 1px solid var(--gray);
    padding-left: 16px;
    margin-left: 10px;
}
.fileInputDiv input::placeholder {
    color: var(--vt-c-blue);
}
/* Chrome, Safari, Edge, Opera */
.fileInputDiv input::-webkit-outer-spin-button,
.fileInputDiv input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.fileInputDiv input[type=number] {
  -moz-appearance: textfield;
}
.fileInputFillDiv.fileInputDiv input {
    color: var(--vt-c-blue);
    border-color: var(--vt-c-blue);
}
.fileInputDiv span {
    font-size: 18px;
    color: var(--gray);
}
.fileInputFillDiv span {
    color: var(--vt-c-blue);
}
.fileInputInfo {
    margin: 8px 0 16px 0;
}
.fileInputInfo p {
    font-size: 16px;
    color: var(--disable);
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}
.fileSlctBtn label {
    background: var(--vt-c-blue);
    font-size: 14px;
    color: var(--whiteText);
    line-height: 42px;
    border: 1px solid var(--vt-c-blueSkyLight2);
    border-radius: 4px;
    padding: 0 20px!important;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.fileSlctBtn.inActive label {
    background: var(--vt-c-gray);
    border-color: var(--vt-c-gray);
    color: var(--black);
    cursor: no-drop;
}
.fileSlctBtn input {
    display: none
}

@media (max-width: 1699px) {
    .fileUpldText p {
        font-size: 15px;
    }
    .fileUpldText h5 {
        font-size: 15px;
    }
    .fileInputDiv input {
        font-size: 16px;
        height: 34px;
    }
    .fileInputDiv span {
        font-size: 16px;
    }
    .fileInputInfo p {
        font-size: 15px;
    }
    .fileSlctBtn label {
        padding: 0 16px !important;
    }
}