.commonMdlOuter > div > div {
    border-radius: 10px;
    border: 0;
}
.commonMdlBody {
    padding: 40px;
}
.welcomeMdlTtl h3 {
    font-size: 40px;
    color: var(--vt-c-blue);
    line-height: 46px;
    font-weight: 600;
    margin-bottom: 6px;
}
.welcomeMdlTtl p {
    font-size: 18px;
    color: var(--black);
    font-weight: 500;
    margin: 0;
}

@media (max-width: 1699px) {
    .welcomeMdlTtl h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .welcomeMdlTtl p {
        font-size: 16px;
    }
}

@media (min-width:992px) and (max-width:1300px) {
    .commonMdlBody {
        padding: 24px;
    }
}

@media (max-width: 991px) {
    .commonMdlBody {
        padding: 24px;
    }
    .welcomeMdlTtl h3 {
        font-size: 28px;
        line-height: 32px;
    }
    .welcomeMdlTtl p {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .commonMdlBody {
        padding: 16px;
    }
    .welcomeMdlTtl h3 {
        font-size: 26px;
        line-height: 30px;
    }
    .welcomeMdlTtl p {
        font-size: 14px;
    }
}