.dashboardOuter {
    background: var(--mute3);
    position: relative;
    min-height: 100vh;
}

.dashboardMobileHeader {
    background-color: var(--whiteBg);
    padding: 10px 16px;
    border-bottom: 1px solid #CCC;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    display: none;
}

.mblLogo .mblLogoLink svg {
    width: 50px;
    height: 50px;
}

.mblMenu svg {
    width: 30px;
}

.dashSidebar {
    background: var(--mute3);
    position: fixed;
    left: 0;
    top: 90px;
    bottom: 0;
    width: 320px;
    padding: 40px 0;
    border-right: 1px solid var(--vt-c-gray1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    transition: all 0.3s ease 0s;
}

.dashSidebar::-webkit-scrollbar {
    width: 8px;
}

.dashSidebar::-webkit-scrollbar-track {
    background: var(--mute4);
}

.dashSidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd;
}

.dashboardOuterSmall .dashSidebar {
    width: 109px;
    padding: 50px 24px;
}

.sdbrClosebtn {
    position: absolute;
    right: 16px;
    top: 16px;
    display: none;
}

.sdbrClosebtn .btn-close {
    background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230e2b72'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
    padding: 0;
    opacity: 1;
    width: 20px;
    height: 20px;
    box-shadow: none !important;
}

.dashboardMainCard {
    position: relative;
    margin-left: 320px;
    padding: 40px;
    margin-top: 90px;
    min-height: 100vh;
    transition: all 0.3s ease 0s;
}

.dashboardOuterSmall .dashboardMainCard {
    margin-left: 109px;
}

.hideSidebarBtn {
    position: fixed;
    left: 368px;
    top: 142px;
    transition: all 0.3s ease 0s;
    z-index: 999;
    display: none;
}

.dashboardOuterSmall .hideSidebarBtn {
    left: 97px;
}

.hideBtn {
    background: #ECECEC;
    width: 24px;
    height: 44px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
}

.hideBtn span {
    position: relative;
    top: -4px;
}

.sdbrDropOuter {
    text-align: center;
}

.sdbrDrop {
    position: relative;
    width: 252px;
    max-width: 100%;
    margin: auto;
}

.sdbrDropInput {
    position: relative;
    width: 100%;
    max-width: 220px;
    margin: 0 auto 8px auto;
}

.sdbrDropInput span {
    position: absolute;
    right: 20px;
    pointer-events: none;
    top: 0px;
}

.sdbrDropInputSmall {
    display: none;
}

.dashboardOuterSmall .sdbrDrop {
    width: auto;
}

.dashboardOuterSmall .sdbrDropInput {
    display: none;
}

.dashboardOuterSmall .sdbrDropInputSmall {
    display: inline-block;
}

.sdbrDropInput input {
    background: var(--vt-c-blue);
    border: 0;
    font-size: 12px;
    color: var(--whiteText);
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 13px;
    padding: 1px 40px 1px 20px;
    padding: 1px 20px;
    outline: 0;
    height: 26px;
    font-weight: 500;
}

.sdbrDropInput input.bInsurance {
    background: var(--vt-c-blue);
}

.sdbrDropInput input:focus {
    outline: 0;
}

.sdbrDropInputSmall span {
    background: var(--vt-c-blue);
    font-size: 12px;
    color: var(--whiteText);
    padding: 0 20px;
    line-height: 26px;
    display: inline-block;
    border-radius: 13px;
}

.sdbrDropInputSmall span.bInsurance {
    background: var(--vt-c-blue);
}

.sdbrDrop .dropdown-content {
    text-align: center;
    padding: 6px;
}

.sdbrDrop .dropdown-item {
    font-size: 15px;
    padding: 2px 16px;
    border-radius: 4px;
}

.sdbrDrop .dropdown-item+.dropdown-item {
    margin-top: 4px;
}

.sdbrLogo {
    text-align: center;
}

.sdbrLogo .sdbrLogoLink {
    display: inline-block;
}

.sdbrLogo span svg {
    transition: all 0.4s ease 0s;
}

.dashboardOuterSmall .sdbrLogo span svg {
    width: 56px;
    height: 56px;
}

.sdbrLnksList {
    margin-bottom: 40px;
}

.sdbrLnksItem {
    position: relative;
}

.sdbrLnksItem + .sdbrLnksItem {
    margin-top: 32px;
}

.sdbrLnksItem .sdbrLnksAnchor {
    display: flex;
    align-items: center;
    min-width: 100%;
    width: 100%;
    color: var(--gray);
    transition: all 0.3s ease 0s;
    border-left: 3px solid transparent;
    padding: 0 34px;
}

.sdbrLnksItem .sdbrLnksAnchor:hover,
.sdbrLnksItem.active .sdbrLnksAnchor,
.sdbrLnksItem.active .sdbrLnksAnchor:hover {
    color: var(--vt-c-blue);
    border-color: var(--vt-c-blue);
}

.sdbrLnksItem .sdbrLnksAnchor > span {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    top: -2px;
}

.sdbrLnksItem h4 {
    font-size: 17px;
    color: inherit;
    margin: 0 0 0 18px;
    transition: all 0.3s ease 0s;
}

.sdbrLnksItem h4 span {
    display: inline-block;
    background-color: var(--error);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.dashboardOuterSmall .sdbrLnksItem .sdbrLnksAnchor {
    justify-content: center;
}

.dashboardOuterSmall .sdbrLnksItem h4 {
    width: 0;
    visibility: hidden;
    margin-left: 0;
    display: none;
}

.sdbrHelpBox {
    border: 1px solid var(--vt-c-grayLight3);
    /*position: absolute;
    left: 40px;
    right: 40px;
    bottom: 40px;*/
    padding: 16px;
    width: calc(100% - 68px);
    margin-left: 34px;
}

.sdbrHelpBox > p {
    font-size: 16px;
    color: var(--vt-c-blue);
    font-weight: 600;
    margin: 0 0 16px 0;
}

.dashboardHeader {
    background: var(--mute3);
    position: fixed;
    padding: 24.6px 34px;
    border-bottom: 1px solid var(--vt-c-gray1);
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
}

.dashUserProCol {
    display: flex;
    align-items: center;
}

.dashUserProCol > span {
    background: var(--vt-c-blueSkyLight1);
    display: flex;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    margin-right: 0;
    text-align: center;
    font-size: 16px;
    color: var(--vt-c-blue);
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.dashUserProCol h4,
.dashUserInfoCol h4 {
    font-size: 18px;
    color: var(--black);
    margin: 0;
    line-height: 22px;
    font-weight: 500;
}

.dashUserProCol h4 span,
.dashUserInfoCol h4 span {
    font-weight: 600;
}

.dashUserProCol h4 a,
.dashUserInfoCol h4 a {
    color: var(--black);
}

.dashUserProCol p,
.dashUserInfoCol p {
    font-size: 14px;
    color: #909FCE;
    line-height: 18px;
    margin: 6px 0 0 0;
}

.dashboardHeader h5,
.dashboardHeader .dashUserTtl p  {
    font-size: 14px;
    color: var(--black);
    line-height: 18px;
    font-weight: 500;
    margin: 3px 0 0 0;
}

.dashUserInfoCol {
    text-align: right;
}

.dashboardBody {
    //padding-right: 60px;
}

@media (max-width:1699px) {
    .dashSidebar {
        width: 250px;
        padding: 24px 0;
        top: 74px;
    }

    .dashboardOuterSmall .dashSidebar {
        padding: 24px 0 140px 0;
    }

    .sdbrLnksItem .sdbrLnksAnchor {
        padding: 0 24px;
    }

    .dashboardMainCard {
        margin-left: 250px;
        padding: 24px;
        margin-top: 74px;
    }

    .hideSidebarBtn {
        left: 258px;
        top: 135px;
    }

    .dashboardHeader {
        padding: 16.6px 24px;
    }

    .sdbrLogo span svg {
        height: 60px;
    }

    .sdbrLnksItem + .sdbrLnksItem {
        margin-top: 24px;
    }

    .sdbrLnksItem h4 {
        font-size: 15px;
        margin: 0 0 0 16px;
    }

    .sdbrHelpBox {
        padding: 12px;
        width: calc(100% - 48px);
        margin-left: 24px;
    }
    
    .sdbrHelpBox > p {
        font-size: 15px;
        margin: 0 0 12px 0;
    }
}

@media (min-width:992px) and (max-width:1300px) {
    .dashboardOuterMedium {
        overflow: visible;
    }

    .dashboardOuterMedium.dashboardOuterSmall {
        overflow: hidden;
    }

    .dashboardOuterMedium .dashSidebar {
        width: 109px;
        padding: 24px;
    }

    .dashboardOuterMedium.dashboardOuterSmall .dashSidebar {
        width: 270px;
        padding: 32px 24px;
    }

    .dashboardOuterMedium .dashboardMainCard {
        margin-left: 109px;
        margin-right: 0;
        overflow: visible;
        height: auto;
        padding: 24px;
    }

    .dashboardOuterMedium.dashboardOuterSmall .dashboardMainCard {
        margin-right: -191px;
        overflow: hidden;
        height: 100vh;
        margin-left: 270px;
    }

    .dashboardOuterMedium .dashboardMainCard {
        margin-left: 109px;
    }

    .hideSidebarBtn {
        display: block;
    }

    .dashboardOuterMedium .hideSidebarBtn {
        left: 97px;
    }

    .dashboardOuterMedium.dashboardOuterSmall .hideSidebarBtn {
        left: 258px;
    }

    .dashboardOuterMedium .sdbrDrop {
        width: auto;
    }

    .dashboardOuterMedium .sdbrDropInput {
        display: none;
    }

    .dashboardOuterMedium .sdbrDropInputSmall {
        display: inline-block;
    }

    .dashboardOuterMedium.dashboardOuterSmall .sdbrDrop {
        width: 252px;
    }

    .dashboardOuterMedium.dashboardOuterSmall .sdbrDropInput {
        display: inline-block;
    }

    .dashboardOuterMedium.dashboardOuterSmall .sdbrDropInputSmall {
        display: none;
    }

    .dashboardOuterMedium .sdbrLogo span svg {
        width: 56px;
    }

    .dashboardOuterMedium.dashboardOuterSmall .sdbrLogo span svg {
        width: auto;
        height: auto;
    }
    
    .sdbrLnksItem + .sdbrLnksItem {
        margin-top: 30px;
    }
    
    .dashboardOuterMedium .sdbrLnksItem .sdbrLnksAnchor {
        justify-content: center;
    }

    .dashboardOuterMedium .sdbrLnksItem h4 {
        width: 0;
        visibility: hidden;
        margin-left: 0;
        display: none;
    }

    .dashboardOuterMedium.dashboardOuterSmall .sdbrLnksItem .sdbrLnksAnchor {
        justify-content: inherit;
    }

    .dashboardOuterMedium.dashboardOuterSmall .sdbrLnksItem h4 {
        width: auto;
        visibility: visible;
        margin-left: 16px;
        display: block;
    }
    .dashboardHeader {
        padding: 20px 12px;
    }
    .dashUserProCol h4,
    .dashUserInfoCol h4 {
        font-size: 16px;
    }
    .dashUserProCol > span {
        font-size: 16px;
    }
}

@media (max-width:991px) {
    .dashboardOuterSmall {

    }
    .dashboardOuterSmall::before {
        background: rgba(21, 3, 48, 0.7);
        position: fixed;
        content: "";
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        opacity: 0.8;
        z-index: 99;
    }

    .dashSidebar {
        left: -300px;
        top: 0;
        padding: 24px 0 140px 0;
    }

    .dashboardOuterSmall .dashSidebar {
        left: 0;
        width: 260px;
    }

    .sdbrClosebtn {
        display: block;
    }

    .dashboardMainCard {
        margin-left: 0;
        padding: 20px;
    }

    .dashboardOuterSmall .dashboardMainCard {
        margin-left: 0;
        overflow: hidden;
        height: 100vh;
    }

    .dashboardHeader {
        background-color: var(--whiteBg);
        padding: 16.6px 20px;
    }

    .dashboardMobileHeader {
        display: block;
    }

    .hideSidebarBtn {
        display: none;
    }

    .dashboardOuterSmall .sdbrDropInput {
        display: block;
    }

    .dashboardOuterSmall .sdbrDropInputSmall {
        display: none;
    }

    .sdbrLogo span svg,
    .dashboardOuterSmall .sdbrLogo span svg {
        width: 60px;
        height: 60px;
    }

    .sdbrLnksItem+.sdbrLnksItem {
        margin-top: 30px;
    }

    .dashboardOuterSmall .sdbrLnksItem .sdbrLnksAnchor {
        justify-content: inherit;
    }

    .dashboardOuterSmall .sdbrLnksItem h4 {
        width: auto;
        visibility: visible;
        margin-left: 16px;
        display: block;
    }
}

@media (max-width:767px) {
    .dashboardMobileHeader {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: inherit;
        box-shadow: 0px -4px 20px 0px rgba(5, 15, 40, 0.10);
    }

    .dashboardMainCard {
        padding: 16px;
    }

    .dashboardOuterSmall .dashSidebar {
        width: 320px;
        padding: 40px 16px;
    }

    .sdbrClosebtn {
        right: 12px;
        top: 12px;
    }

    .dashboardHeader {
        background-color: var(--whiteBg);
        padding: 12px 16px;
        box-shadow: 0px -4px 20px 0px rgba(5, 15, 40, 0.10);
        border: 0;
    }

    .dashUserProCol > span {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        margin-right: 0;
    }

    .dashUserProCol h4,
    .dashUserInfoCol h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .dashboardHeader h5,
    .dashboardHeader .dashUserTtl p  {
        font-size: 13px;
        line-height: 16px;
        margin: 2px 0 0 0;
    }

    .dashUserInfoCol {
        text-align: left;
    }

    .sdbrLnksList {
        margin-top: 24px;
    }
}