.dateFormGroup .MuiFormControl-root.MuiTextField-root {
   width: 100%;
}

.dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
   background-color: var(--whiteBg);
   transform: translate(0, 18px) scale(1);
   font-size: 16px;
   color: var(--vt-c-gray);
   font-family: 'Galano Grotesque', sans-serif;
   font-weight: 500;
   letter-spacing: 0;
   left: 10px;
   padding: 0 10px;
   transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.dateFormSmallGroup.dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
   transform: translate(0, 16px) scale(1);
}

.dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiFormLabel-filled,
.dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.Mui-focused {
   transform: translate(0, -11px) scale(1);
   color: var(--vt-c-blue);
}

.dateFormGroup .MuiInputBase-root.MuiOutlinedInput-root {
   border-radius: 0;
}

.dateFormGroup .MuiInputBase-input.MuiOutlinedInput-input {
   height: 1.688em;
   color: var(--vt-c-blue);
   font-size: 16px;
   font-weight: 500;
   font-family: 'Galano Grotesque', sans-serif;
   padding-left: 20px;
}

.dateFormSmallGroup.dateFormGroup .MuiInputBase-input.MuiOutlinedInput-input {
   height: 1.188em;
   color: var(--vt-c-blue);
   font-size: 16px;
   font-weight: 500;
   font-family: 'Galano Grotesque', sans-serif;
   padding-left: 20px;
}

.dateFormGroup .MuiOutlinedInput-notchedOutline {
   border-color: var(--formBorderColor) !important;
}

.dateFormGroup .MuiInputBase-root.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
   border-color: var(--vt-c-blue) !important;
}

.dateFormGroup .Mui-focused .MuiOutlinedInput-notchedOutline,
.dateFormGroup .Mui-error .MuiOutlinedInput-notchedOutline {
   border-width: 1px;
   border-color: var(--vt-c-blue) !important;
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
   background-color: var(--vt-c-blue);
}

@media (max-width:1699px) {
   .dateFormSmallGroup.dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
       font-size: 15px;
   }

   .dateFormSmallGroup.dateFormGroup .MuiInputBase-input.MuiOutlinedInput-input {
       font-size: 15px;
       height: 1.267em;
   }
}

@media (max-width:767px) {
   .dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
       font-size: 14px;
       left: 6px;
       padding: 0 10px;
       transform: translate(0, 16px) scale(1);
   }
   .dateFormSmallGroup.dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
       transform: translate(0, 14px) scale(1);
   }
   .dateFormSmallGroup.dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiFormLabel-filled,
   .dateFormSmallGroup.dateFormGroup .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.Mui-focused {
       transform: translate(0, -11px) scale(1);
       font-size: 14px;
   }
   .dateFormGroup .MuiInputBase-input.MuiOutlinedInput-input {
       height: 1.313em;
       font-size: 14px;
       padding-left: 16px;
   }
   .dateFormSmallGroup.dateFormGroup .MuiInputBase-input.MuiOutlinedInput-input {
       font-size: 14px;
       height: 1.072em;
       padding-left: 16px;
   }
}