
.eBnftPrdctCntntBlock {
    background-color: var(--mute5);
}
.eBnftRatingBlock {
    padding: 20px 0 40px 0;
}
.eBnftPrdctFrmBlock {
    background-color: var(--mute5);
}
.eBnftAllPolicyPage {
    background-color: var(--mute5);
    padding: 0 40px;
}