.commonOffcanvasDiv {
    width: 50%;
}
.commonOffcanvasWhiteDiv.commonOffcanvasDiv {
    width: 50%;
}
.commonOffcanvasHeaderDiv {
    background-color: var(--vt-c-blue);
    padding: 40px;
}
.commonOffcanvasWhiteDiv .commonOffcanvasHeaderDiv {
    background-color: var(--whiteBg);
    padding-bottom: 0;
}
.commonOffcanvasHeader {
    min-width: 100%;
}
.commonOffcanvasClose {
    font-size: 15px;
    color: var(--whiteText);
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.commonOffcanvasWhiteDiv .commonOffcanvasClose {
    color: var(--vt-c-blue);
    line-height: 40px;
    border: 1px solid var(--vt-c-blue);
    display: inline-flex;
    gap: 0.5rem;
    min-width: 120px;
    justify-content: center;
}
.commonOffcanvasHdrTop {
    margin: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.commonOffcanvasHdrTop i {
    display: inline-block;
    background: var(--whiteBg);
    padding: 12px 20px;
}
.commonOffcanvasHdrBtm {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.commonOffcanvasHeader p {
    font-size: 15px;
    color: var(--whiteText);
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}
.commonOffcanvasHeader p span {
    display: block;
    font-size: 17px;
    line-height: 22px;
}
.commonOffcanvasHdrTtl h3 {
    font-size: 36px;
    color: var(--whiteText);
    font-weight: 700;
    line-height: 44px;
    margin: 0;
}
.commonOffcanvasHdrTtl h4 {
    font-size: 26px;
    color: var(--whiteText);
    font-weight: 500;
    line-height: 34px;
    margin: 0;
}
.commonOffcanvasWhiteDiv .commonOffcanvasHdrTtl h3,
.commonOffcanvasWhiteDiv .commonOffcanvasHdrTtl h4 {
    background-color: transparent;
    color: var(--vt-c-blue);
}
.commonOffcanvasBodyDiv {
    background-color: var(--whiteBg);
    padding: 50px;
}
.commonOffcanvasFeaList {
    margin-top: 40px;
}
.commonOffcanvasFeaList ol {
    counter-reset: list;
}
.commonOffcanvasFeaList ol li {
    list-style: none;
    margin-top: 24px;
    position: relative;
    counter-increment: list;
    padding-left: 36px;
}
.commonOffcanvasFeaList ol li:before {
    background-color: var(--vt-c-green);
    position: absolute;
    content: counters(list, ".");
    width: 24px;
    height: 24px;
    font-size: 14px;
    color: var(--whiteText);
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    left: 0;
    top: 0;
}
.commonOffcanvasFeaList ol li h4 {
    font-size: 18px;
    line-height: 24px;
    color: var(--vt-c-green);
    font-weight: 600;
    margin: 0 0 6px 0;
}
.commonOffcanvasFeaList ol li > p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
}
.commonOffcanvasFeaList ol li div {
    background: var(--vt-c-grayLight2);
    padding: 16px;
    border-radius: 5px;
    margin-top: 16px;
}
.commonOffcanvasFeaList ol li div h5 {
    font-size: 16px;
    line-height: 20px;
    color: var(--vt-c-green);
    margin: 0 0 6px 0;
}
.commonOffcanvasFeaList ol li div p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
}
.commonOffcanvasBlueFeaList.commonOffcanvasFeaList ol li:before {
    background-color: var(--vt-c-blue);
}
.commonOffcanvasBlueFeaList.commonOffcanvasFeaList ol li h4,
.commonOffcanvasBlueFeaList.commonOffcanvasFeaList ol li div h5 {
    color: var(--vt-c-blue);
}

.commonOffcanvasData p {
    font-size: 20px;
    color: var(--black);
    line-height: 30px;
    font-weight: 500;
}
.commonOffcanvasData p:last-child {
    margin: 0;
}

.offcanvasListData {

}
.offcanvasListData li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}
.offcanvasListData li + li {
    margin-top: 20px;
}
.offcanvasListData li::before {
    background-color: var(--black);
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

@media (max-width:1699px) {
    .commonOffcanvasDiv {
        width: 60%;
    }
    .commonOffcanvasWhiteDiv.commonOffcanvasDiv {
        width: 50%;
    }
    .commonOffcanvasHeaderDiv,
    .commonOffcanvasBodyDiv {
        padding: 32px;
    }
    .commonOffcanvasWhiteDiv .commonOffcanvasHeaderDiv {
        padding-bottom: 0;
    }
    .commonOffcanvasHdrTtl h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .commonOffcanvasHdrTtl h3 {
        font-size: 34px;
        line-height: 42px;
    }
    .commonOffcanvasData p {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width:1399px) {
    .commonOffcanvasDiv {
        width: 70%;
    }
    .commonOffcanvasWhiteDiv.commonOffcanvasDiv {
        width: 70%;
    }
    .commonOffcanvasHdrTtl h3 {
        font-size: 32px;
        line-height: 40px;
    }
    .commonOffcanvasHeaderDiv,
    .commonOffcanvasBodyDiv {
        padding: 32px;
    }
}

@media (max-width:1199px) {
    .commonOffcanvasDiv {
        width: 80%;
    }
    .commonOffcanvasWhiteDiv.commonOffcanvasDiv {
        width: 80%;
    }
    .commonOffcanvasHeaderDiv,
    .commonOffcanvasBodyDiv {
        padding: 24px;
    }
    .commonOffcanvasHdrTtl h3 {
        font-size: 30px;
        line-height: 38px;
    }
    .commonOffcanvasData p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width:991px) {
    .commonOffcanvasDiv {
        width: 90%;
    }
    .commonOffcanvasWhiteDiv.commonOffcanvasDiv {
        width: 90%;
    }
    .commonOffcanvasHdrTtl h3 {
        font-size: 28px;
        line-height: 36px;
    }
}

@media (max-width:767px) {
    .commonOffcanvasHeaderDiv,
    .commonOffcanvasBodyDiv {
        padding: 20px;
    }
    .commonOffcanvasHdrTtl h3 {
        font-size: 26px;
        line-height: 34px;
    }
    .offcanvasListData li + li {
        margin-top: 16px;
    }
}