.policyCardCol {
    background: var(--whiteBg);
    padding: 32px;
    border: 1px solid var(--vt-c-gray1);
}

.policyCardCol.active {
    border-color: var(--vt-c-blueSky);
}

.policyCardCol.expirePolicyCardCol {
    background: transparent;
}

.policyCardTtl {
    position: relative;
}

.policyTitle {
    margin: 20px 0;
}

.expirePolicyCardCol .policyLogoIcon {
    filter: grayscale(100%);
    opacity: 0.7;
}

.policyCardTtl h3 {
    font-size: 22px;
    color: var(--black);
    font-weight: 600;
    margin: 0;
}

.policyCardTtl .policyCardArrow {
    width: 10px;
    position: relative;
    z-index: 2;
    top: -1px;
    transition: all 0.3s ease;
}

.policyCardTtl .policyCardArrow.active {
    transform: rotate(90deg);
}

.policyCardTtl h4 {
    font-size: 16px;
    color: var(--border-mute1);
    font-weight: 500;
    margin: 2px 0 0;
}

.policyCardTtl h5 {
    font-size: 15px;
    color: var(--border-mute1);
    font-weight: 500;
    margin: 6px 0 0;
}

.policyCardCat {
    background-color: var(--vt-c-gray);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 11px;
    color: var(--vt-c-black);
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid var(--vt-c-grayLight3);
    display: inline-block;
}

.liabilityCat.policyCardCat {
    background-color: var(--liabilityBg);
    color: var(--liabilityColor);
    border-color: var(--liabilityColor);
}

.assetCat.policyCardCat {
    background-color: var(--assetBg);
    color: var(--assetColor);
    border-color: var(--assetColor);
}

.marineCat.policyCardCat {
    background-color: var(--marineBg);
    color: var(--marineColor);
    border-color: var(--marineColor);
}

.expirePolicyCardCol .liabilityCat.policyCardCat,
.expirePolicyCardCol .assetCat.policyCardCat,
.expirePolicyCardCol .marineCat.policyCardCat {
    background-color: var(--vt-c-gray);
    color: var(--gray);
    border-color: var(--gray);
}


.policyStatus {
    font-size: 15px;
    color: var(--black);
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 0;
}

.policyStatus i {
    font-style: normal;
}

.policyStatus span {
    position: relative;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
    padding-left: 14px;
    white-space: nowrap;
}

.policyStatus span::before {
    background-color: var(--vt-c-gray);
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.policyStatus.activeStatus span {
    color: var(--success);
}
.policyStatus.activeStatus span::before {
    background-color: var(--success);
}

.policyStatus.expiredStatus span {
    color: var(--error);
}
.policyStatus.expiredStatus span::before {
    background-color: var(--error);
}

.policyStatusTtl span {
    font-size: 14px;
    line-height: 26px;
    font-family: 'Galano Grotesque Alt', sans-serif;
    color: var(--black);
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
}

.policyStatusTtl.pendingStatus span {
    color: var(--vt-c-blueSky);
}

.policyStatusTtl.expiringStatus span {
    color: var(--error);
}

.policyStatusTtl.confirmStatus span {
    color: var(--vt-c-blueSky);
}

.insurerLogo {
    display: inline-block;
    border: 1px solid var(--greyDark2);
    border-radius: 10px;
    padding: 14px 10px;
}

.insurerLogo .insurerLogoIcon {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 30;
}
.expirePolicyCardCol .insurerLogo .insurerLogoIcon {
    filter: grayscale(100%);
    opacity: 0.7;
}

.policyCardList {
    margin-top: 1rem;
}

.policyCardList ul {
    margin: -16px -6px 0 -6px;
    overflow: hidden;
}

.policyCardList ul li {
    /*float: left;
    width: 50%;*/
    padding: 0 6px;
    margin-top: 16px;
}

.policyCardList p {
    font-size: 15px;
    color: var(--vt-c-blueSkyLight2);
    font-weight: 500;
    margin: 0;
}

.policyCardList p i {
    color: var(--vt-c-grayLight3);
    cursor: pointer;
    display: inline-block;
}

.policyCardList p i em {
    position: absolute;
    background-color: var(--mute1);
    font-size: 12px;
    font-weight: 500;
    color: var(--vt-c-yellowActive);
    font-style: normal;
    line-height: 20px;
    padding: 0 8px;
    border: 1px solid var(--vt-c-yellowActive);
    border-radius: 2px;
    margin-left: 9px;
    margin-top: 6px;
    display: none;
}

.policyCardList p i em::before {
    position: absolute;
    background-color: var(--mute1);
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid var(--vt-c-yellowActive);
    border-right: 0;
    border-top: 0;
    border-radius: 2px;
    transform: rotate(45deg);
    margin-left: -13px;
    margin-top: 6px;
}

.policyCardList p i:hover {
    color: var(--vt-c-yellowActive);
}

.policyCardList p i:hover em {
    display: inline;
}

.policyCardList p small {
    color: var(--vt-c-grayLight3);
}

.policyCardList p strong {
    font-size: 19px;
    display: block;
    font-weight: 500;
    line-height: 28px;
    color: var(--black);
}

.policyCardList p strong.redText {
    color: var(--error);
}
.policyCardList p strong.greenText {
    color: var(--success);
}
.policyCardList p strong.grayText {
    color: var(--gray);
}

.policyCardList p strong span {
    cursor: pointer;
    position: relative;
    top: -4px;
}

.policyCardList > div > div:nth-child(2) ul li:nth-child(2) p strong {
    font-size: 16px;
}

.policyCardUpld {
    margin-top: 1rem;
}

.policyCardUpld p {
    font-size: 15px;
    color: var(--error);
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.policyCardDwnload {
    margin-top: 1rem;
}

.expirePolicyCardCol .policyCardDwnload button {
    background-color: var(--vt-c-gray);
    pointer-events: none;
}

.policyCardInfo {
    margin-top: 1rem;
    text-align: center;
}

.policyCardInfo p {
    font-size: 15px;
    color: var(--vt-c-blueSkyLight2);
    font-weight: 500;
    margin: 16px 0 0 0;
}

@media (max-width:1699px) {
    .policyCardCol {
        padding: 24px;
    }

    .policyTitle {
        margin: 16px 0;
    }

    .policyCardTtl h3 {
        font-size: 20px;
    }

    .policyCardTtl h4 {
        font-size: 14px;
    }

    .policyStatus {
        font-size: 14px;
    }
    
    .policyStatus span {
        font-size: 14px;
    }

    .policyStatusTtl span {
        font-size: 13px;
    }

    .policyCardList p {
        font-size: 13px;
    }

    .policyCardList p strong {
        font-size: 17px;
    }

    .policyCardList > div > div:nth-child(2) ul li:nth-child(2) p strong {
        font-size: 15px;
    }

    .policyCardInfo p {
        font-size: 14px;
    }    

    .policyCardUpld p {
        font-size: 14px;   
    }
}

@media (max-width:991px) {
    .policyCardCol {
        padding: 20px;
    }
}

@media (max-width:767px) {
    .policyCardCol {
        padding: 16px;
        margin: 0;
    }

    .mblPolicyCardInfo {
        /*display: none;*/
    }

    .mblPolicyCardInfo.show {
        /*display: block;*/
    }
    
    /*.policyCardTtl {
        display: grid;
    }

    .policyCardTtl > div:first-child {
        order :2;
    }*/
    
    .policyCardTtl h3 {
        font-size: 17px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .policyCardTtl h4 {
        font-size: 14px;
    }

    .policyCardTtl h5 {
        font-size: 13px;
        margin: 8px 0;
    }

    .policyStatus {
        font-size: 12px;
        margin-left: 0;
    }

    .policyStatus span {
        font-size: 12px;
        line-height: 26px;
    }

    .policyStatusTtl span {
        font-size: 12px;
    }

    .policyCardList ul li {
    }
    .policyCardList p {
        font-size: 13px;
    }
    .policyCardList p strong {
        font-size: 15px;
    }
    .policyCardList ul li:last-child p strong {
        font-size: 14px;
    }
}