.welcomeCard {
    position: relative;
    padding: 24px;
    border: 1px solid var(--disable);
    text-align: center;
}
.welcomeCard > h5 {
    font-size: 20px;
    color: var(--black);
    font-weight: 500;
    margin: 0;
}
.welcomeCardMedia {
    margin: 40px 0;
}
.welcomeCardIcon {

}
.welcomeCardBtm {
    display: flex;
    align-items: center;
    gap: 1.5em;
    justify-content: space-between;
    border: 1px solid var(--vt-c-gray);
    padding: 10px 16px;
}
.welcomeCardInfo {
    text-align: left;
}
.welcomeCardInfo h3 {
    font-size: 32px;
    color: var(--vt-c-blue);
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 6px;
}
.welcomeCardInfo p {
    font-size: 15px;
    color: var(--vt-c-blue);
    font-weight: 500;
    margin: 0;
}
.welcomeCardBtn {

}
.welcomeCardBtnLink {
    width: 46px;
    height: 46px;
    color: var(--vt-c-yellow);
    border: 1px solid var(--vt-c-yellow);
    display: inline-block;
    line-height: 39px;
    transition: all 0.4s ease 0s;
}
.welcomeCardBtnLink svg path {
    fill: var(--vt-c-yellow);
    transition: all 0.4s ease 0s;
}
.welcomeCardBtnLink:hover {
    background-color: var(--vt-c-yellow);
    color: var(--black);
    border: 1px solid var(--vt-c-yellow);
}
.welcomeCardBtnLink:hover svg path {
    fill: var(--black);
}

@media (max-width: 1699px) {
    .welcomeCard {
        padding: 24px;
    }
    .welcomeCard > h5 {
        font-size: 18px;
    }
    .welcomeCardMedia {
        margin: 30px 0;
    }
    .welcomeCardBtm {
        padding: 8px 16px;
    }
    .welcomeCardInfo h3 {
        font-size: 28px;
        line-height: 32px;
    }
    .welcomeCardInfo p {
        font-size: 15px;
    }
    .welcomeCardBtnLink {
        width: 40px;
        height: 40px;
        line-height: 34px;
    }
}

@media (min-width:992px) and (max-width:1300px) {
    .welcomeCard {
        padding: 20px;
    }
    .welcomeCard > h5 {
        font-size: 17px;
    }
    .welcomeCardMedia {
        margin: 24px 0;
    }
    .welcomeCardBtm {
        padding: 8px 12px;
    }
    .welcomeCardInfo h3 {
        font-size: 26px;
        line-height: 30px;
    }
    .welcomeCardInfo p {
        font-size: 14px;
    }
    .welcomeCardBtnLink {
        width: 36px;
        height: 36px;
        line-height: 30px;
    }
}

@media (max-width: 767px) {
    .welcomeCard {
        padding: 16px;
    }
    .welcomeCard > h5 {
        font-size: 16px;
    }
    .welcomeCardMedia {
        margin: 20px 0;
    }
    .welcomeCardBtm {
        padding: 6px 10px;
    }
    .welcomeCardInfo h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .welcomeCardBtnLink {
        width: 32px;
        height: 32px;
        line-height: 26px;
    }
}