.rateComboCol {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.rateComboCol > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rateComboCol p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--darkText);
    font-weight: 500;
    font-style: italic;
    letter-spacing: -0.48px;
    white-space: nowrap;
    margin: 0;
}
.rateComboCol h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--darkText);
    font-weight: 400;
    letter-spacing: -0.48px;
    margin: 0;
}
.rateComboCol h4 span {
    font-weight: 700;
    font-style: italic;
}

.rateComboCol > div:nth-child(2) {
    min-width: 20px;
}

@media (max-width: 1699px) {
    .rateComboCol {
        gap: 1rem;
    }   
}

@media (max-width: 1199px) {
    .rateComboCol {
        gap: 0.7rem;
    }  
    .rateComboCol h4 {
        font-size: 20px;
    }
    .rateComboCol > div i svg {
        width: 28px;
        height: 28px;
    }
    .rateComboCol p {
        font-size: 13px;
    }
}

@media (max-width: 1199px) {
    .rateComboCol p {
        font-size: 11px;
    }
}

@media (max-width: 767px) {
    .rateComboCol h4 {
        font-size: 18px;
    }
}