.fltrBtn {
    background: transparent;
    border: 1px solid var(--vt-c-blue);
    padding: 0 10px;
    border-radius: 0;
    font-size: 16px;
    color: var(--vt-c-blue);
    font-weight: 500;
    cursor: pointer;
    line-height: 38.23px;
    display: inline-block;
}

.fltrBtn span {
    display: inline-block;
    margin-left: 6px;
}

.fltrBtn span svg {
    width: 18px;
}

@media (max-width:1699px) {
    .fltrBtn {
        font-size: 14px;
        line-height: 34.4px;
    }
}

@media (max-width:991px) {
    .fltrBtn {
        margin-left: 10px !important;
    }
}

@media (max-width:767px) {
    .fltrBtn {
        font-size: 13px;
        padding: 0 10px;
        margin-left: 0 !important;
        margin-top: 10px;
    }
}