.hdrBlock {
    background-color: var(--mute5);
}
.logo {
    border: 1px solid var(--brown);
    border-top: 0;
    border-radius: 0 0 40px 40px;
    padding: 20px 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoLink {
    position: relative;
    display: flex;
    height: 41px;
    width: 222px;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0s;
}
.grpHlthLogo,
.grpAcdntLogo {
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
}
.grpHlthLogo {
    left: 12px;
}
.grpAcdntLogo {
    left: 0;
}
.bimaLogo {
    position: absolute;
    left: 10px;
    top: 41px;
    transition: all 0.5s ease-in-out 0s;
}
.logoLink:hover .bimaLogo {
    top: 10px;
}
.logoLink:hover .grpHlthLogo,
.logoLink:hover .grpAcdntLogo {
    top: 41px;
}
.hdrBtnDiv {
    border: 1px solid var(--brown);
    border-top: 0;
    border-radius: 0 0 40px 40px;
}
.hdrBtnDiv > div {
    flex: 1 0;
    transition: all 0.3s ease 0s;
}
.hdrBtnDiv > div + div {
    border-left: 1px solid var(--brown);
}
.hdrBtnDiv > div:first-child {
    border-radius: 0 0 0 40px;
}
.hdrBtnDiv > div:last-child {
    border-radius: 0 0 40px 0;
}
.hdrBtnDiv > div:hover,
.hdrBtnDiv > div:hover {
    background-color: var(--mute1);
}
.hdrDrpdwnBtn,
.hdrBtnLink {
    font-size: 15px;
    color: var(--darkText);
    font-weight: 500;
    line-height: 15px;
    padding: 32.5px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hdrBtnLink svg path {
    fill: var(--darkText);
}
.hdrDrpdwn button::after {
    display: none;
}
.hdrDrpdwn button i {
    transition: all 0.3s ease 0s;
}
.hdrDrpdwn button i svg {
    position: relative;
    top: -2px;
}
.hdrDrpdwn button:focus + button,
.hdrDrpdwn button:focus {
    box-shadow: none;
}
.hdrDrpdwn button > svg path {
    fill: var(--darkText);
}
.hdrDrpdwn button i svg path {
    stroke: var(--darkText);
}
.hdrDrpMenu {
    padding: 0;
    min-width: 100%;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.hdrDrpMenu > a {
    font-size: 14px;
    font-weight: 500;
    color: var(--darkText);
    padding: 0.65rem 1rem;
}
.hdrDrpMenu > a + a {
    border-top: 1px solid var(--vt-c-grayLight);
}
.hdrDwnldDrpdwn .hdrDrpMenu > a {
    font-size: 18px;
}

.hdrTalkDrpdwn .hdrDrpMenu {
    padding: 16px;
    right: 0 !important;
    left: inherit !important;
    min-width: 100%;
    border-radius: 0;
}
.hdrDrpMenu p {
    font-size: 16px;
    color: var(--vt-c-blue);
    line-height: 22px;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 24px;
}
.hdrDrpMenu p:last-child {
    margin: 0;
}
.hdrDrpMenu p a {
    color: var(--vt-c-blue);
}

.hdrTalkDrpdwn ul li {
    display: flex;
    align-items: center;
    gap: 1rem
}
.hdrTalkDrpdwn ul li + li {
    margin-top: 16px;
}
.hdrTalkDrpdwn ul li i {
    min-width: 18px
}
.hdrTalkDrpdwn ul li span {
    font-size: 15px;
    color: var(--darkText);
    display: block
}
.hdrTalkDrpdwn ul li a {
    font-size: 16px;
    color: var(--primaryDark)
}

@media (max-width:1699px) {
    .btnBig {
        line-height: 52px;
    }
}

@media (max-width:767px) {
    .btnSmall {
        padding: 10px;
    }
    button.btnSmall {
        padding: 10px;
    }
}