.noItemDiv {
    background: var(--whiteBg);
    padding: 20px;
    border: 1px solid var(--vt-c-yellow);
    position: relative;
    box-shadow: 2px 2px 40px 0px #0000000D;
}

.noItemDiv h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--vt-c-blue);
    line-height: 28px;
    border-bottom: 1px solid var(--vt-c-gray);
    padding-bottom: 12px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.noItemDiv h3 i {
    margin-top: -5px;
}

.noItemDiv h3 i svg {
    width: 24px;
    height: 24px;
}

.noItemBody {
    text-align: center;
}

.noItemFtr {
    border-top: 1px solid var(--vt-c-gray);
    margin-top: 16px;
}

.noItemFtr p {
    font-size: 14px;
    color: var(--vt-c-blue);
    font-weight: 500;
    margin: 16px 0 0 0;
}

@media (max-width:1699px) {
    .noItemDiv {
        padding: 16px;
    }
    .noItemDiv h3 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 12px;
        gap: 0.8rem;
    }
    .noItemDiv h3 i svg {
        width: 24px;
        height: 24px;
    }
    .noItemFtr {
        margin-top: 12px;
    }
    .noItemFtr p {
        font-size: 13px;
        margin: 12px 0 0 0;
    }
}

@media (max-width:991px) {
    .noItemDiv {
        padding: 16px;
    }
    .noItemDiv h3 {
        font-size: 16px;
        line-height: 24px;
        gap: 0.6rem;
    }
    .noItemDiv h3 i svg {
        width: 24px;
        height: 24px;
    }
}

@media (max-width:767px) {
    .noItemDiv {
        padding: 16px;
    }
    .noItemDiv h3 {
        font-size: 16px;
        line-height: 24px;
        gap: 0.5rem;
    }
    .noItemDiv h3 i svg {
        width: 22px;
        height: 22px;
    }
    .noItemFtr {
        margin-top: 10px;
    }
    .noItemFtr p {
        font-size: 14px;
        margin: 10px 0 0 0;
    }
}