.prdctCntntLftHdr i {
    display: inline-block;
}
.prdctCntntLftHdr h2 {
    font-size: 44px;
    color: var(--darkText);
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0 0 0;
}
.prdctCntntLftInfo p {
    font-size: 20px;
    color: var(--black);
    line-height: 30px;
    font-weight: 500;
    margin: 9px 0 0 0;
}
.prdctCntntLftBtm {
    border-top: 1px solid var(--brown);
    margin-top: 40px;
    padding-top: 40px;
}

@media (max-width:1699px) {
    .prdctCntntLftHdr h2 {
        font-size: 38px;
        line-height: 46px;
    }
    .prdctCntntLftInfo p {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width:1399px) {
    .prdctCntntLftHdr h2 {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (max-width:1199px) {
    .prdctCntntLftHdr h2 {
        font-size: 28px;
    }
    .prdctCntntLftInfo p {
        font-size: 17px;
        line-height: 24px;
    }
}

@media (max-width:767px) {
    .prdctCntntLftHdr {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .prdctCntntLftHdr h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .prdctCntntLftInfo p {
        font-size: 16px;
        line-height: 22px;
    }
}