.claimReqstCardCol {
    background: var(--whiteBg);
    padding: 20px;
    border: 1px solid var(--vt-c-gray1);
    position: relative;
}

.expireClaimReqstCardCol.claimReqstCardCol {
    background: transparent;
}

.claimReqstStatus {
    text-align: right;
    margin-bottom: 12px;
}

.claimReqstStatus span {
    position: relative;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
    padding-left: 14px;
    white-space: nowrap;
}

.claimReqstStatus span::before {
    background-color: var(--vt-c-gray);
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.claimReqstStatus.activeStatus span {
    color: var(--success);
}
.claimReqstStatus.activeStatus span::before {
    background-color: var(--success);
}

.claimReqstStatus.progressStatus span {
    color: var(--vt-c-blueSky);
}
.claimReqstStatus.progressStatus span::before {
    background-color: var(--vt-c-blueSky);
}

.claimReqstStatus.expiredStatus span {
    color: var(--error);
}
.claimReqstStatus.expiredStatus span::before {
    background-color: var(--error);
}

.claimReqstCardTtl {
    position: relative;
    margin-bottom: 8px;
    min-height: 44px;
}

.claimReqstCardTtl span {
    display: inline-block;
    min-width: 32px;
}

.expireClaimReqstCardCol .claimReqstCardTtl span {
    filter: grayscale(100%);
    opacity: 0.7;
}

.claimReqstCardTtl h3 {
    font-size: 18px;
    color: var(--black);
    font-weight: 600;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.claimReqstCardTtl h4,
.claimReqstCardCmpny h4 {
    font-size: 13px;
    color: var(--border-mute1);
    font-weight: 500;
    margin: 0;
}

.claimReqstCardTtl h5 {
    font-size: 15px;
    color: var(--border-mute1);
    font-weight: 500;
    margin: 6px 0 0;
}

.claimReqstCardCat {
    background-color: var(--vt-c-gray);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 11px;
    color: var(--vt-c-black);
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid var(--vt-c-gray);
    display: inline-block;
}

.liabilityCat.claimReqstCardCat {
    background-color: var(--liabilityBg);
    color: var(--liabilityColor);
    border-color: var(--liabilityColor);
}

.assetCat.claimReqstCardCat {
    background-color: var(--assetBg);
    color: var(--assetColor);
    border-color: var(--assetColor);
}

.marineCat.claimReqstCardCat {
    background-color: var(--marineBg);
    color: var(--marineColor);
    border-color: var(--marineColor);
}

.expireClaimReqstCardCol .claimReqstCardCat {
    background-color: var(--vt-c-gray);
    color: var(--gray);
    border-color: var(--gray);
}

.claimReqstCardList {
    margin-top: 1rem;
    border-top: 1px solid var(--vt-c-gray);
}

.claimReqstCardList p {
    font-size: 16px;
    color: var(--vt-c-blueSkyLight2);
    font-weight: 500;
    margin: 0;
}

.claimReqstCardList p small {
    color: var(--vt-c-grayLight3);
}

.claimReqstCardList p strong {
    font-size: 18px;
    display: block;
    font-weight: 500;
    line-height: 28px;
    color: var(--black);
}

.claimReqstCardList p strong span {
    cursor: pointer;
    position: relative;
    top: -4px;
}

.expireClaimReqstCardCol .claimReqstCardList p strong span {
    filter: grayscale(100%);
    opacity: 1;
    pointer-events: none;
}

.claimReqstLink {
    font-size: 13px;
    line-height: 26px;
    color: var(--vt-c-blueSky);
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
}

.claimReqstCardInfo {
    margin-top: 0.8rem;
}

.claimReqstCardInfo p {
    font-size: 15px;
    color: var(--vt-c-blueSkyLight2);
    font-weight: 500;
    margin: 8px 0 0 0;
}

.claimReqstCardBtn {
    margin-top: 1rem;
}

@media (max-width:1699px) {
    .claimReqstCardCol {
        padding: 16px;
    }

    .claimReqstStatus span {
        font-size: 14px;
        line-height: 22px;
    }

    .claimReqstCardTtl {
        margin-bottom: 6px;
    }

    .claimReqstCardTtl h3 {
        font-size: 16px;
    }

    .claimReqstCardTtl h4 {
        font-size: 13px;
    }

    .claimReqstCardList p {
        font-size: 14px;
    }

    .claimReqstCardList p strong {
        font-size: 16px;
    }

    .claimReqstLink {
        font-size: 12px;
    }

    .claimReqstCardInfo p {
        font-size: 13px;
    }    
}

@media (max-width:991px) {
    .claimReqstCardCol {
        padding: 20px;
    }
}

@media (max-width:767px) {
    .claimReqstCardCol {
        padding: 16px;
        margin: 0;
    }
    
    .claimReqstCardTtl h3 {
        font-size: 17px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .claimReqstCardTtl h4 {
        font-size: 14px;
    }

    .claimReqstCardTtl h5 {
        font-size: 13px;
        margin: 8px 0;
    }

    .claimReqstLink {
        font-size: 12px;
    }

    .claimReqstCardList p {
        font-size: 13px;
    }

    .claimReqstCardList p strong {
        font-size: 15px;
    }
}